{{ $featured_image := .Param "featured_image"}}
{{ if $.IsHome }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      {{ partial "site-navigation.html" .}}
      <div class="tc-l pv4 ph3 ph4-ns">
        <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
          {{ with .Site.Params.site_logo }}
            <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
          {{ end }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container tc" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header tc">
        <h2 class="modal__title" id="modal-1-title">
          Lara Makes is now Carnelian Craft!
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <p>
          You may have been redirected from my old site Lara Makes, in which case: Welcome! 
        </p>
        <p>
          All of my previous content is still here along with a new splash of paint. My <a href="https://www.instagram.com/carnelian_craft/" target="_blank">Instagram</a> and <a href="https://www.etsy.com/au/shop/CarnelianCraft" target="_blank">Etsy</a> stores have also been rebranded but are still easy to find 😊
        </p>
      </main>
      <footer class="modal__footer">
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Sounds good!</button>
      </footer>
    </div>
  </div>
</div>